.Container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: snow;
    overflow: hidden;

}
.Poster {
    width: 250px;
    height: 350px;
    position: relative;
    right: 350px;
    top: 50px;
    border-radius: 25px;

}
.info {
    background-color: #e4c816;
    border-radius: 25px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    width: 230px;
    height: 300px;
    position: relative;
    left: 350px;
    bottom: 300px;
    overflow: hidden;
}

.overview {
    background-color: #e4c816;
    width: 60%;
    position: relative;
    right: 130px;
    padding: 20px;
    border-radius: 25px;
    bottom: 200px
}
.cast {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.artist{
    width: 20%;
}
.artist>img{
    width: 80%;
}
.Container>h2{
    position: absolute;
    top: 700px;
}
.Dark{
    background-color: #403b3f;
}
.DarkInfo{
    background-color: #0f193f;
    color: snow;
}
.DarkOverview{
    background-color: #0f193f;
    color: snow;
}
.DarkArtist{
    color: snow;
}
.DarkArtist>div{
    color: snow;
}