@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'Poppins' , sans-serif;
}
.Layout{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}
.page {
    width: 1100px;
    min-height: 90vh;
}
.Dark{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: snow;
}
.DarkPage{
    background-color: #403b3f;
    width: 1100px;
}